<div class="container">
  <h3>{{ controllerName | titlecase }} Endpoints</h3>
  
  <!-- Navigation Tabs for Endpoints -->
  <ul class="nav nav-tabs">
    <li *ngFor="let endpoint of endpoints" class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: endpoint === activeEndpoint }"
        (click)="selectEndpoint(endpoint)"
      >
        {{ endpoint.method }} {{ endpoint.path }}
      </a>
    </li>
  </ul>

  <!-- Active Endpoint Details -->
  <div *ngIf="activeEndpoint" class="mt-3">
    <h4>{{ activeEndpoint.method }} {{ activeEndpoint.path }}</h4>
    
    <!-- Form for Endpoint Parameters -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div *ngFor="let param of activeEndpoint.parameters" class="mb-3">
        <label class="form-label">{{ param.name }}</label>
        <input
          [type]="param.type === 'string' ? 'text' : param.type"
          [formControlName]="param.name"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    <!-- Request Object Display -->
    <div class="mt-3">
      <h5>Request Object</h5>
      <pre>{{ requestObject | json }}</pre>
    </div>

    <!-- Response Object Display -->
    <div class="mt-3">
      <h5>Response Object</h5>
      <pre>{{ responseObject | json }}</pre>
    </div>
  </div>
</div>
